<div id="wrap-tables-catalogos">

    <div id="wrap-head">
        <div id="head-titulo">
            <i [class]="catalogo.iconoTituloHeader"></i>
            <span>{{catalogo.tituloHeader}}</span>
        </div>

        <button (click)="alertCatalogo('crear', 'null')">
            <i [class]="catalogo.iconoBotonHeader"></i>
            <span>{{catalogo.tituloBotonHeader}}</span>
        </button>
    </div>

    <div id="wrap-table">

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let item of catalogo.tituloTabla">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of catalogo.tablas; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.nombre}}</td>
                    <td *ngIf="catalogo.tipo === 'productos'">{{item.precio}}</td>
                    <td *ngIf="catalogo.tipo === 'productos'">{{item.categoria?.nombre}}</td>
                    <td *ngIf="catalogo.tipo === 'sucursales' || catalogo.tipo === 'usuarios' || catalogo.tipo === 'clientes' ">{{item.telefono}}</td>
                    <td *ngIf="catalogo.tipo === 'sucursales'">{{item.fecha_creacion}}</td>
                    <td *ngIf="catalogo.tipo === 'usuarios'">{{item.colaborador_role}}</td>
                    <td *ngIf="catalogo.tipo === 'clientes'">{{item.correo}}</td>
                    <td>
                        <span class="badge rounded-pill bg-success" *ngIf="item.estado">Activo</span>
                        <span class="badge rounded-pill bg-danger" *ngIf="!item.estado">Inactivo</span>
                    </td>
                    <td class="text-center">
                        <i class="fas fa-pencil-alt text-primary" style="margin-right: 20px; cursor: pointer;"
                            (click)="alertCatalogo('editar', item._id)"></i>
                        <i class="fas fa-trash-alt text-danger" style="cursor: pointer;"
                            (click)="alertCatalogo('eliminar', item._id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- item.colaborador_role || item.client_role || item.ubicacion -->