@import '../../../styles';

#fondo {
    @extend %fondo;
}

.borde-rojo {
    border: 1px solid tomato;
}

#wrap-craeciones {
    @include creaciones(700px, 450px);
}

#wrap-buttons-creacion {
    // background-color: red;
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    position: absolute;
    right: 25px;
    bottom: 50px;
}

#selectSucursalChecks {
    // border: 1px solid blue;
    width: 100%;
    overflow-x: scroll;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .form-check {
        max-width: 80px;

        &-input {
            border: 1px solid gray;
        }
    }
}