<div id="modal" #modal class="animate__animated animate__faster">

  <!-- diseñador -->
  <div class="wrapper animate__slideInDown animate__animated animate__faster" id="ver-diseniadores"
    *ngIf="data.tipo === 'ver-diseniadores'">
    <h6>Distribución - Diseñadores</h6>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cant. Pedidos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of data.data.usuariosDB; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.pedidos.length}}</td>
        </tr>
      </tbody>
    </table>

    <div class="group-btn mt-5">
      <button type="button" class="buttons" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>

  <!-- subir archivos -->
  <div class="wrapper animate__animated animate__slideInDown animate__faster" id="subir-archivo"
    *ngIf="data.tipo === 'subir-archivos'" #wrapper>

    <form [formGroup]="formaArchivo" (ngSubmit)="subirArchivos()">
      <h6>Subir archivos</h6>

      <!-- archivo -->
      <div class="mb-3">
        <input class="form-control form-control-sm" id="formFileSm" formControlName="archivo"
          (change)="cargarArchivo($event)" type="file" [ngClass]="{'borde-rojo': checkArchivo}">
      </div>

      <!-- nombre -->
      <div class="mb-3">
        <input type="text" name="nombreArchivo" class="form-control" formControlName="nombre"
          placeholder="Nombre archivo (Opcional)">
      </div>

      <!-- tipo -->
      <div class="form-check mb-3">
        <div *ngFor="let item of tipoArchivos">
          <input class="form-check-input" type="radio" name="tipo" [value]="item.tipo" [id]="item.tipo"
            formControlName="tipo">
          <label class="form-check-label" [for]="item.tipo">
            {{item.nombre}}
          </label>
        </div>
      </div>

      <!-- progress -->
      <div class="progress" id="divProgres">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar"
          aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
      </div>

      <div class="group-btn mt-5">
        <button type="submit" id="btnSubir" class="buttons">Subir archivo</button>
        <button type="button" class="buttons" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- crear pagos -->
  <div class="wrapper animate__animated animate__slideInDown animate__faster" id="crear-pago"
    *ngIf="data.tipo === 'crear-pago'">
    <h6>Crear pago</h6>

    <form [formGroup]="formaPagos" (ngSubmit)="crearPago()">

      <!-- metodo -->
      <div class="mb-3">
        <label for="">Metodo de pago:</label>
        <select class="form-select" formControlName="metodo" [ngClass]="{'borde-rojo': checkMetodo}">
          <option *ngFor="let metodo of metodos?.metodosDB" [value]="metodo._id">{{metodo.nombre}}</option>
        </select>
      </div>

      <!-- Modalidad -->
      <div class="mb-3">
        <label for="">Modalidad:</label>
        <select class="form-select" formControlName="modalidad" [ngClass]="{'borde-rojo': checkModalidad}">
          <option *ngFor="let mod of modalidad" [value]="mod.id">{{mod.nombre}}</option>
        </select>
      </div>

      <!-- Monto -->
      <div class="mb-3">
        <label for="">Monto a pagar:</label>
        <input type="text" class="form-control" formControlName="monto" placeholder="Monto a pagar"
          [ngClass]="{'borde-rojo': checkMonto}" (keyup)="validarMonto($event)" #monto>
      </div>

      <div class="group-btn mt-5">
        <button type="submit" id="btnSubir" class="buttons">Crear pago</button>
        <button type="button" class="buttons" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- motivo desactivar pago -->
  <div class="wrapper animate__animated animate__slideInDown animate__faster" id="estado-pago"
    *ngIf="data.tipo === 'estado-pago'">
    <h6>Desactivar pago</h6>

    <form [formGroup]="formaDesactivarPago" (ngSubmit)="desactivarPago()">

      <div class="mb-3">
        <label for="motivo" class="form-label">Motivo:</label>
        <textarea class="form-control" formControlName="motivo" id="motivo" rows="3"
          [ngClass]="{'borde-rojo': checkMotivo}"></textarea>
        <label class="text-danger fs-6" *ngIf="checkMotivo">Mínimo 4 carácteres</label>
      </div>

      <div class="group-btn mt-5">
        <button type="submit" id="btnSubir" class="buttons">Desactivar pago</button>
        <button type="button" class="buttons" (click)="cerrarModal()">Cancelar</button>
      </div>
    </form>
  </div>

</div>