@import '../../../styles';

h6 {
    // border: 1px solid red;
    color: darken($color: $primary, $amount: 12);
    text-shadow: $text-shadow;

    font: {
        weight: 600;

    }
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($gray, 0.7);
    z-index: 999;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 15px;
    background-color: $white;
    border-radius: 5px;
    min-width: 300px;

    h6 {
        margin-bottom: 25px;
    }
}

.group-btn {

    // border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .buttons {
        height: 35px;
        width: 150px;
        box-shadow: none !important;
        border: 1px solid darken($color: $gray, $amount: 10) !important;
        transition: 0.3s all ease-in-out;
        font-weight: 200;
    }

    .buttons:hover {
        box-shadow: $box-shadow !important;
    }

    button:first-child {
        @include button('', $white, $primary);
    }

    button:last-child {
        @include button('', $primary, $white);
        margin-left: 25px;
    }
}

.borde-rojo {
    border: 1px solid tomato;
}

// archivo
#subir-archivo {

    .group-btn {

        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .buttons {
            height: 35px;
            width: 150px;
            box-shadow: none !important;
            border: 1px solid darken($color: $gray, $amount: 10) !important;
            transition: 0.3s all ease-in-out;
            font-weight: 200;
        }

        .buttons:hover {
            box-shadow: $box-shadow !important;
        }

        button:first-child {
            @include button('', $white, $primary);
        }

        button:last-child {
            @include button('', $primary, $white);
            margin-left: 25px;
        }
    }

    #divProgres {
        display: none;
    }
}

// pagos
#crear-pago {

    label {

        font-size: map-get($map: $map-fonts, $key: 'xm');
        margin-bottom: 5px;
    }


    .group-btn {

        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .buttons {
            height: 35px;
            width: 150px;
            box-shadow: none !important;
            border: 1px solid darken($color: $gray, $amount: 10) !important;
            transition: 0.3s all ease-in-out;
            font-weight: 200;
        }

        .buttons:hover {
            box-shadow: $box-shadow !important;
        }

        button:first-child {
            @include button('', $white, $primary);
        }

        button:last-child {
            @include button('', $primary, $white);
            margin-left: 25px;
        }
    }
}

#estado-pago {
    textarea {
        resize: none;
    }

    .group-btn {

        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .buttons {
            height: 35px;
            width: 150px;
            box-shadow: none !important;
            border: 1px solid darken($color: $gray, $amount: 10) !important;
            transition: 0.3s all ease-in-out;
            font-weight: 200;
        }

        .buttons:hover {
            box-shadow: $box-shadow !important;
        }

        button:first-child {
            @include button('', $white, $primary);
        }

        button:last-child {
            @include button('', $primary, $white);
            margin-left: 25px;
        }
    }
}