@import '../../../styles';

h6 {
    // border: 1px solid red;
    color: darken($color: $primary, $amount: 12);
    text-shadow: $text-shadow;

    font: {
        weight: 600;

    }
}

.wrap-subir-archivos {
    padding: 15px;

    h6 {
        margin-bottom: 25px;
    }

    // div:not(.progress-bar) {
    //     margin-bottom: 15px;
    // }

    .group-btn {

        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .buttons {
            height: 35px;
            width: 150px;
            box-shadow: none !important;
            border: 1px solid darken($color: $gray, $amount: 10) !important;
            transition: 0.3s all ease-in-out;
            font-weight: 200;
        }

        .buttons:hover {
            box-shadow: $box-shadow !important;
        }

        button:first-child {
            @include button('', $white, $primary);
        }
        button:last-child {
            @include button('', $primary, $white);
            margin-left: 25px;
        }
    }
}