@import '../../../styles.scss';

.diseniado {
    @include estado-pedido(#c2c21b, $white);
}

.correccion {
    @include estado-pedido(#c4211b, $white);
}

.aprobado {
    @include estado-pedido(#099e22, $white);
}

.impreso {
    @include estado-pedido(#089ec4, $white);
}

.devuelto {
    @include estado-pedido(#a008a5, $white);
}

.prod-solu {
    @include estado-pedido(#3b3a3a, $white);
}

.prod-per {
    @include estado-pedido(#3b3a3a, $white);
}

.fondoTomato {
    background-color: rgba(220, 53, 69, 1);

    td {

        color: darken($color: $white, $amount: 15) !important;
    }
}

#wrapper {

    // border: 1px solid blue;
    position: relative;
    margin-bottom: 50px;
    // width: 900px;
    width: 95%;
    margin: 15px auto;
}

#header {

    // background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 35px auto 10px;
    position: relative;
    width: 95%;

    button {
        @include button(null, $primary, $gray);
    }

    button:hover {
        background-color: $secondary;
    }
}

#body {

    @extend %tabla-basic;
    // background-color: red;
    width: 100%;
    margin: 0 auto;

    table {
        td {
            cursor: pointer;
        }
    }
}