<app-busqueda></app-busqueda>

<div id="fondo" #fondo>

    <div id="wrap-craeciones" class="animate__animated" #wrapCreaciones>

        <div id="wrap-head">

            <div id="head-titulo">
                <i class="fas fa-user-plus"></i>
                <span>{{tituloBotonHeader}}</span>
            </div>

            <i class="fas fa-times" style="cursor: pointer; font-size: 20px;" (click)="cerrarCreacion($event)"
                #cerrar></i>
        </div>

        <div id="wrap-body">
            <form [formGroup]="forma" (ngSubmit)="guardar()">

                <div id="body">

                    <!-- nombre -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Nombre:</label>
                        <input type="text" class="form-control" [ngClass]="{'borde-rojo': checkNombre}"
                            formControlName="nombre">
                    </div>

                    <!-- apellido -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Apellido:</label>
                        <input type="text" id="apellido" class="form-control" [ngClass]="{'borde-rojo': checkApellido}"
                            formControlName="apellido">
                    </div>

                    <!-- identificacion -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Cedula.:</label>
                        <input type="text" class="form-control" id="identificacion"
                            [ngClass]="{'borde-rojo': checkIdentificacion}" formControlName="identificacion"
                            #identificacion>
                    </div>

                    <!-- Ruc -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">RUC:</label>
                        <input type="text" class="form-control" id="ruc" [ngClass]="{'borde-rojo': checkRuc}"
                            formControlName="ruc" #ruc>
                    </div>

                    <!-- Telefono -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Teléfono:</label>
                        <input type="number" class="form-control" [ngClass]="{'borde-rojo': checkTelefono}"
                            formControlName="telefono">
                    </div>

                    <!-- Correo -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Correo:</label>
                        <input type="email" class="form-control" [ngClass]="{'borde-rojo': checkCorreo}"
                            formControlName="correo">
                    </div>

                    <!-- Sucursal -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Sucursal:</label>
                        <select class="form-select" [ngClass]="{'borde-rojo': checkSucursal}"
                            formControlName="sucursal">
                            <option [value]="sucursal._id" *ngFor="let sucursal of sucursales?.sucursalesDB">
                                {{sucursal?.nombre}}</option>
                        </select>
                    </div>

                    <!-- Roles -->
                    <div class="ctrl-creacion">
                        <label class="col-sm-2 col-form-label">Role:</label>
                        <select class="form-select" (change)="detectarRole()" [ngClass]="{'borde-rojo': checkRole}"
                            formControlName="role">
                            <option [value]="role.nombre" *ngFor="let role of roles?.rolesDB">{{role?.nombre}}</option>
                        </select>
                    </div>

                    <!-- observacion -->
                    <div class="ctrl-creacion" style="grid-column: 1 / span 2;">
                        <label for="observacion" class="form-label">Observación:</label>
                        <textarea class="form-control" formControlName="observacion" id="observacion" rows="3"
                            style="resize: none;"></textarea>
                    </div>

                    <!-- estado -->
                    <div class="form-check form-switch" *ngIf="!crear"
                        style="display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-end; padding-left: 0;">
                        <label class="form-check-label">Estado:</label>
                        <input class="form-check-input" type="checkbox" formControlName="estado" role="switch"
                            id="estado" style="margin-left: 30px;" checked>
                    </div>
                </div>

                <div id="wrap-buttons-creacion">
                    <button type="submit">Guardar</button>
                    <button type="button" (click)="cerrarCreacion($event)">Cancelar</button>
                </div>
            </form>
        </div>

    </div>

</div>


<app-tables-catalogos [catalogo]="catalogo" (abrirAlertCat)="abrirAlert($event)"></app-tables-catalogos>
<app-loading></app-loading>