@import '../../../styles';

#wrapper {
    // background-color: pink;
    @include flex-center();
    margin-top: 150px;
    width: calc(100% - $width-sidebar);
    height: 100%;
}

.borde-rojo {
    border: 1px solid tomato;
}

#wrap-craeciones {
    @include creaciones(700px, 400px);
}

#wrap-buttons-creacion {
    // background-color: red;
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    position: absolute;
    right: 25px;
    bottom: 50px;
}

#placeHolderCliente {
    // background-color: red;
    display: none;
    background-color: lighten($color: $gray, $amount: 10);
    position: absolute;
    width: calc(100% - 80px);
    top: 38px;
    left: 80px;
    z-index: 99;
    border-bottom: 1px solid $gray;
    border-left: none;
    border-top: none;
    border-right: none;
    padding: 10px 0;
    // min-height: 170px;
    max-height: 170px;
    overflow-y: scroll;
 
    a {
        // background-color: blue;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px;
    }

    a:hover {
        background-color: $gray;
    }
}